body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
    width: 800px;
    margin: 12px auto;
    padding: 8px;
    text-align: center;
}

h1, h3 {
    margin: 0 auto;
    padding: 4px;
    background-color: darkslateblue;
    color: white;
}

#description {
    width: 690px;
    margin: 12px auto;
    text-align: left;
}

.ingredient-item {
    list-style-type: none;
    margin: 4px 0px;
}

.recipe-step {
    width: 690px;
    margin: 12px auto;
    text-align: left;
}