body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
    width: 800px;
    margin: 12px auto;
    padding: 8px;
    text-align: center;
}