body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
    width: 800px;
    margin: 12px auto;
    padding: 8px;
    text-align: center;
}

h1, h3 {
    margin: 0 auto;
    padding: 4px;
    background-color: darkslateblue;
    color: white;
}