/* css stylesheet */
body {
    background-color: rgb(100,149,237);
    font-family: "Helvetica", "Times New Roman", serif;
}
.title {
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.recipesList {

}

.recipeImg {
    height:auto;
    width: 300px;
    border-style: outset;
    border-radius: 30px;
    border-color: azure;
}

.para {
    font-size: 14px;    
}

.para .title {
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(41, 41, 41);
    text-transform: capitalize;
}

.para .ingredientsList {
    color: darkslateblue;
}

.para .instructionSteps {
    color: darkmagenta;
}