body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: antiquewhite;
    width: 800px;
    margin: 12px auto;
    padding: 8px;
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding: 4px;
    background-color: darkslateblue;
    color: white;
    border: 1px red solid;
}

ul {
    border: 1px green solid;
}
.recipe {
    width: 400px;
    margin: 0px auto;
    list-style: none;
    text-align: center;
    border: 1px blue solid;
}

.recipe-pic {
    width: 200px;
    height: auto;
}